.page {
  width: 100dvw;
  min-height: 100dvh;
  background-color: antiquewhite;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.body {
  width: 100%;
  flex-grow: 1; /* 남은 공간을 차지 */
  background-color: yellow;
  display: flex;
  flex-direction: column;
  align-items: center;
}
